@import 'https://fonts.googleapis.com/css?family=Bitter|Open+Sans';

body {
  font-family: 'Open Sans', sans-serif;
}

.icon-links {
  text-align: right;
  font-size: 1.5em;
}

@media (max-width: 420px) {
  .header-name, .icon-links {
    text-align: center;
  }

  .header-name, .header-icons, .thumb, .project-details {
    width: 100%;
  }

  .project-details {
  padding: 0;
  }
}

.row {
  margin: 0;
}

.icon-links a {
  color: #FFF;
}

.header-name {
  font-size: 1.7em;
  color: #FFF;
  font-family: 'Bitter', serif;
}

.header {
  padding: 15px 0;
  background-color: #31708f;
  border-bottom: 4px solid #6a9cb5;
}

.project {
  margin-top: 30px;
}

.well {
  border-radius: 0;
}

.thumb {
  padding: 0;
  border: 1px solid #eee;
}

.thumb img {
  width: 100%;
}

.project-details {
  padding-right: 0;
}

.btn {
  border-radius: 0;
  background-color: #31708f;
  color: #FFF;
  border: 1px solid #31708f;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #FFF;  
}

.btn-github {
  border-radius: 0;
  background-color: #FFF;
  color: #31708f;
}

.btn-github.focus, .btn-github:focus, .btn-github:hover {
  color: #31708f;
}

.section-title {
  margin-bottom: -15px;
  font-size: 1.5em;
  font-family: 'Bitter', serif;
}

.footer {
  margin-top: 40px;
  padding: 2px 0;
  background-color: #31708f;
}