body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: #f8f9fa;
  border-top: 2px solid #29516d;
  margin: 0;
}

a {
  color: #29516d;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-bottom: 10px;
}

.section-title {
  margin-top: 30px;
}

.single-project {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: calc(100% - 36px);
  padding: 18px;
}

.single-project .text {
  width: 100%;
}

.single-project .text a {
  font-weight: normal;
}

.single-project .text .title {
  margin-top: 0;
}

.single-project .text .btn {
  padding: 8px 24px;
  background-color: #e0e1e2;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #3b3c45;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  width: calc(100% - 50px);
  text-align: center;
}

.single-project .text .btn:hover {
  background-color: #ccc;
}

.single-project .image {
  display: none;
}

.single-project .image img {
  width: 100%;
  border-radius: 4px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .single-project .text {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  .single-project .text .btn {
    display: inline-block;
    width: unset;
    margin-right: 8px;
    margin-top: 0;
  }
  .single-project .image {
    width: 30%;
    display: inline-block;
    margin-left: 9%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}